<main class="main">
  <div class="inner">
    <div class="greeting">
      こんにちは、
      <%= link_to "ユーザー名さん", root_path, class: :greeting__lin %>
    </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
      <%= render partial: 'prototype', locals: { prototype: prototype } %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <% end %>
    </div>
  </div>
</main>
